@import "./../styles/variables.scss";

.container{
    padding: 3rem 3rem;
    background-color: #F9F9F9;
    font-family: 'Roboto', sans-serif;
    &__section{
        margin-top: $header-height;
        margin-bottom: 2rem;
        @include breakpoint(md){
            padding: 2rem 4rem 0 4rem;
            margin-bottom: 0;
        }
        &__title{
                
            color: black;
            margin-bottom: 1rem;
            @include breakpoint(md){
                width: 75%;
                font-size: 52px;
                display: flex;
                text-align: start;
                margin-bottom: 0;
                margin-bottom: 1.6rem;
            }
            font-size: 38px;
            font-weight: 500;
        }
    }

    &__team{
        margin-top: $header-height;
        @include breakpoint(md){
            padding: 2rem 4rem;
        }
    }

    &__info{
        @include breakpoint(md){
            padding: 2rem 4rem;
        }    
        
        display: flex;
        flex-wrap: wrap;

        &__head{
            display: flex;
            align-items: center;
            @include breakpoint(md){
                margin-bottom: 3rem;
            }
            p{
                color: gray;
                font-size: 20px;
                @include breakpoint(md){
                    flex: 2;
                    font-size: 24px;
                    margin-bottom: 1rem;
                    
                }
                margin-bottom: 2rem;
            }
        }

        &__body{
            display: flex;
            gap: 2rem;
            flex-wrap: wrap;
            &__card{
                background: rgb(255, 255, 255);
                flex: 1;
                min-width: 300px;
                border-radius: 10px;
                &__logo{
                    width: 100px;
                    margin: 0 auto;
                    margin-bottom: 2rem;
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;
                    img{
                        width: 100%;
                        height: 100px;
                    }

                    h2{
                        font-size: 30px;
                    }
                }

                &__description{
                    font-size: 20px;
                    color: gray;
                }

                padding: 4rem 2rem;
            }
        }
    }
}