@import "./../styles/variables.scss";

.footer{
    padding: 1.2rem 3rem;
    background-color: #062c3f;
    color: white;
    font-family: 'Montserrat', ' sans-serif';


}

.container{
    
    @include breakpoint(sm) {
        display: grid;
        grid-template-columns: 1fr 1.3fr 1fr;
        grid-template-areas:
          'logo feed logo2'
          'logo feed logo3';
        gap: 1rem;
        justify-items: center;
        
    }

    &__logo{
        height: 100%;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        
        gap: 2rem;
        margin-bottom: 2rem;
        img{
            width: 150px;
        }

        &__info{    
            h2{
                font-weight: 600;
                font-size: 18px;
            }
    
            p{
                font-size: 16px;
            }
        }
        @include breakpoint(sm) {
            
            img{
                width: 150px;
                grid-area: logo;
            }
        }   
    }

    &__logo2{
        img{
            width: 150px;
            height: 54px;
        }
        @include breakpoint(sm) {
            img{
                grid-area: logo2;
            }
        } 
    }

    &__logo3{
        img{
            width: 150px;
            height: auto;
        }
        @include breakpoint(sm) {
            img{
                
                grid-area: logo3;
            }
        } 
    }

    &__feed{
        margin-bottom: 2.5rem;
        @include breakpoint(sm) {
            margin-bottom: 0rem;
        grid-area: feed;
        }
    }

    &__logos{
        display: flex;
        justify-content: space-between;

        @include breakpoint(sm) {
            flex-direction: column;
        } 
    }

}