@import "./../styles/variables.scss";


.ab{
    position: absolute;
    
}
.main{
    background:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(36, 28, 28, 0.9)), url('../imgs/background5.jpg');
    background-size: cover;
    height: 60vh;
    color: white;
        @include breakpoint(md){
        padding: 0px 15%;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 60% 70%;
    }

    overflow:hidden;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 0;


    @include breakpoint(md){
        height:100vh;
        width: 100%;
        &__title{
            width: 80%;
        }
    }

    &__title{
        font-family: 'Roboto', sans-serif;
        @include breakpoint(md){
            margin-top: 3.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0.5rem;
        }

        margin: 0 0;
        padding: 0 2rem;
        
        

        h1{
            @include breakpoint(md){
                font-size: 52px;
                font-weight: 700;
                margin-bottom: 30px;
                

            }
            text-align: start;
            font-size: 38px;
            font-weight: 700;
            margin-bottom: 2.3rem;
            
            //text-shadow: 3px 3px 2px rgba(150, 152, 155, 1);
            //text-shadow: 0px 2px 13px rgb(119 227 239 / 28%), 0px 4px 26px rgb(119 227 239 / 34%);
        }

        h2{
            @include breakpoint(md){
                font-size: 24px;
                margin-bottom: 30px;

            }
            text-align: justify;
            font-size: 20px;
            margin-bottom: 2.3rem;
            font-family: "Montserrat", "sans-serif"
        }

        button{
            @include breakpoint(md){
                font-size: 20px;
            }

            border: none;
            color: #DAAB76;
            padding: 0.8rem 1.3rem;
            font-size: 16px;
            border-radius: 5px;
            background-color: transparent;
            border: 2px solid #DAAB76;
            cursor: pointer;
            
            transition: all 1s ease;

            &:hover{
                background-color: #DAAB76;
                color: white;
                
            }
            
        }
    }
}

@keyframes bottom-to-top{
    0% { 
        transform: translateY(20px);
        opacity: 0;
    }

    100%{
        transform: translateY   (0);
        opacity: 1;
    }
}
